testing
docs/build
*.pyc
__pycache__
couchdb-data
dportal.yaml
dportal.yaml.sample
venv
cli_venv
*.egg*
.vscode
.Rproj.user
*testfile*
*.png
*.fna
*.sec
*.pub
crypt4gh*
*gzip
*DataDelivery_*
S3-Upload-Proxy
*.c4gh
dp_testing_group.csv
sensitive
*testing*
!tools_for_testing.py
not_used*
encryption.md
chunk_tester.py
creds_files
create_account.py
*demo*
old_version_files*
temp_*
my_*
ds.log
x_cli_code
timings
*dict_structure.json
*.code-workspace
.DDS_CLI.env
/docs/_build/latex/*
/docs/_build/html/*
/docs/_build/doctrees/*
!*datadeliverysystem.pdf
!*docs/_static/*
.DS_Store
