.DS_Store
*.pyc
__pycache__
couchdb-data
dportal.yaml
dportal.yaml.sample
venv
cli_venv
*.egg*
.vscode
.Rproj.user
*testfile*
*.png
*.fna
*.sec
*.pub
crypt4gh*
*gzip
*DataDelivery_*
S3-Upload-Proxy
*.c4gh
dp_testing_group.csv
sensitive
*tests
*testing*
not_used*
encryption.md
chunk_tester.py
creds_files
create_account.py
*demo*
*test.py
old_version_files*