black==24.1.1
Sphinx==5.0.2
sphinx-rtd-theme==1.0.0
sphinx-click==4.0.0
pyinstaller  # version not pinned due to latest used by release procedure
pylint==2.17.3
sphinx-copybutton==0.5.1
sphinxcontrib-svg2pdfconverter==1.2.2