attrs==21.4.0
boto3==1.21.8
botocore==1.24.8
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
click-pathlib==2020.3.13.0
colorama==0.4.4
commonmark==0.9.1
cryptography==36.0.1
Deprecated==1.2.13
idna==3.3
immutabledict==2.2.1
iniconfig==1.1.1
jmespath==0.10.0
jwcrypto==1.0
numpy==1.22.2
packaging==21.3
pandas==1.4.1
pluggy==1.0.0
prettytable==3.1.1
prompt-toolkit==3.0.28
py==1.11.0
pycparser==2.21
Pygments==2.11.2
PyNaCl==1.5.0
pyparsing==3.0.7
pytest==7.0.1
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
questionary==1.10.0
requests==2.27.1
rich==11.2.0
rich-click==1.0.0
s3transfer==0.5.2
simplejson==3.17.6
six==1.16.0
tomli==2.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
wcwidth==0.2.5
wrapt==1.13.3
zstandard==0.17.0
