/* Modal */

ModalScreen{
    background: $background 70%;
}

DDSModal {
    align: center middle;
}

#dds-modal{
    width: 50%;
    height: 60%;
    background: $surface;
}

DDSModalFooter {
    align: center middle;
    height: auto;
    padding: 1;
}

DDSModalHeader {
    height: auto;
    align: center middle;
    background: $panel;
}

/* Auth */

AuthStatus {
    align: center middle;
    padding: 1;
}

AuthLogin {
    align: center middle;
}

#auth-login {
    align: center middle;
}

#auth-login > * {
    margin: 1;
}

#auth-login-message {
    text-align: center;
    width: 100%;
    text-wrap: wrap;
}

#login-step {
    align: center middle;
    height: auto;

}

#two-factor-step {
    align: center middle;
    height: auto;

}

#auth-status {
    align: center middle;
}

AuthLogout {
    align: center middle;
}

#auth-logout {
    align: center middle;
    padding: 1;
    height: auto;
}


#auth-logout > * {
    margin: 1;
} 

#auth-logout-message {
    align: center middle;
    height: auto;
}

#auth-logout-buttons {
    align: center middle;
    height: auto;
}

#auth-login {
    align: center middle;
    padding: 1;
    width: 100%;
}

#auth-login > * {
    margin: 1;
    height: auto;
}

/* Home Screen */

#home-screen{
    align: center middle;
}

#title{
    text-style: bold;
}

/* Button */

Button{
    border: none;
    height: 3;
    padding: 0 2 0 2; /* Set padding for centered content without default border*/
}

Button:hover{
    border: none;
} 

Button:focus{
    border: none;
} 

/* Input */

Input {
    border: solid $primary;
}  

/* Toast */

Toast {
    background: $primary;
}

/* User */ 

#user {
    align: center middle;
    width: 100%; 
}

#user-info {
    align: center middle;
    margin: 1;
}

/* Sidebar */

DDSSidebar {
    dock: left;
    width: 20%;    
    height: 100%; 
    align: center middle;
}

#dds-sidebar {
    align: center middle;
    border: solid $primary;
}

#dds-sidebar-items {
    align: center top;

    height: 80%;
}

#dds-sidebar-items > * {
    margin: 1;
}

#dds-sidebar-help {
    align: center bottom;
    height: 20%;
}