# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
---
name: Pytest

on:
  push:
    branches: [dev, master]
  pull_request:
    branches: [dev, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Install dds_cli
        run: |
          pip install .

      - name: Test with pytest
        run: |
          pip install -r tests/requirements-test.txt
          COVERAGE_FILE=./coverage/.coverage
          pytest --cov-branch --color=yes --cov=./dds_cli --cov-report=xml:coverage/report.xml

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/report.xml
