name: Rich-codex
on: push
jobs:
  rich_codex:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Install your custom tools
        run: pip install .

      - name: Generate terminal images with rich-codex
        uses: ewels/rich-codex@v1
        with:
          skip_git_checks: "true"
          commit_changes: "true"
          clean_img_paths: docs/img/*.svg
